# Diretórios de build do Maven
target/
build/

# Diretórios e arquivos específicos do Eclipse
.project
.classpath
.settings/
.metadata/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# Arquivos de configuração local
config.properties
